/* Footer 스타일 */

footer {
  /* 푸터를 페이지 하단에 배치 */
  margin-top: auto;
  padding: 2rem 0;
  height:80px;
}

.footer-container {
  /* 컨테이너 최대 너비와 중앙 정렬 */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #666;
  font-size: 0.75rem;
}
